<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="https://www.thymeleaf.org" th:replace="_head_meta::head_meta('회원관리 : 리스트 조회 : Buza Admin')"></head>
<body class="with-welcome-text">
<div class="container-scroller">


    <div th:replace="_pro_banner::pro_banner"></div>
    <div th:replace="_top_nav::top_nav"></div>

    <!-- container start -->
    <div class="container-fluid page-body-wrapper pt-0">
        <div th:replace="_left_nav::left_nav"></div>
        <!-- main-panel start -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">회원정보 조회</h4>
                            <p class="card-description">a</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>VatNo.</th>
                                        <th>Created</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>53275531</td>
                                            <td>12 May 2017</td>
                                            <td><label class="badge badge-danger">Pending</label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div th:replace="_footer_content::footer_content"></div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- // container start ends -->
</div>
<div th:replace="_footer_script::footer_script"></div>
</body>
</html>