<div th:fragment="footer_script">
    <script th:src="@{~/js/vue.global.js}"></script>
    <script th:src="@{~/js/tailwind.3.4.4.min.js}"></script>
    <script th:src="@{~/js/sweetalert2.js}"></script>
    <script th:src="@{~/js/axios.min.js}"></script>
    <script th:src="@{~/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{~/js/jquery.loading.min.js}"></script>
    <script th:src="@{~/js/common.js}"></script>

    <script>
        // const app = Vue.createApp({});
        // app.use(VueLoading.LoadingPlugin);
        // app.component('loading', VueLoading.Component)
        // app.mount('#app')
    </script>

</div>