<!DOCTYPE html>
<html class="h-full bg-white" lang="en"  xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="https://www.thymeleaf.org" th:replace="_head_meta::head_meta('Buza Admin')"></head>
<body class="h-full">

<div id="buza-container" @click="handleOutsideClick">

    <div th:replace="_left_nav::left_nav"></div>


    <div class="lg:pl-72">
        <div th:replace="_top_nav::top_nav"></div>

        <main class="py-10">
            <div class="px-4 sm:px-6 lg:px-8">
                <!-- Your content Start-->

                <!-- // Your content End-->
            </div>
        </main>
    </div>
</div>


<div th:replace="_footer_script::footer_script"></div>

</body>
</html>