<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.buza.agency.repository.BtTagMapper">
  <resultMap id="BaseResultMap" type="io.buza.agency.entity.BtTag">
    <id column="tag_seq" jdbcType="INTEGER" property="tagSeq" />
    <result column="tag_type" jdbcType="VARCHAR" property="tagType" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="modified_at" jdbcType="TIMESTAMP" property="modifiedAt" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    tag_seq, tag_type, tag_name, `status`, created_at, created_by, modified_at, modified_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bt_tag
    where tag_seq = #{tagSeq,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bt_tag
    where tag_seq = #{tagSeq,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.buza.agency.entity.BtTag">
    insert into bt_tag (tag_seq, tag_type, tag_name, 
      `status`, created_at, created_by, 
      modified_at, modified_by)
    values (#{tagSeq,jdbcType=INTEGER}, #{tagType,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{modifiedAt,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.buza.agency.entity.BtTag">
    insert into bt_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagSeq != null">
        tag_seq,
      </if>
      <if test="tagType != null">
        tag_type,
      </if>
      <if test="tagName != null">
        tag_name,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="modifiedAt != null">
        modified_at,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagSeq != null">
        #{tagSeq,jdbcType=INTEGER},
      </if>
      <if test="tagType != null">
        #{tagType,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedAt != null">
        #{modifiedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.buza.agency.entity.BtTag">
    update bt_tag
    <set>
      <if test="tagType != null">
        tag_type = #{tagType,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null">
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedAt != null">
        modified_at = #{modifiedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where tag_seq = #{tagSeq,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.buza.agency.entity.BtTag">
    update bt_tag
    set tag_type = #{tagType,jdbcType=VARCHAR},
      tag_name = #{tagName,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_at = #{modifiedAt,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where tag_seq = #{tagSeq,jdbcType=INTEGER}
  </update>
</mapper>